<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #3A4D39;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="http://localhost/cadastro-produtos/prod/" style="font-size: 1.4rem;">Mercado</a>
        </li>
    </ul>
    <div class="container-fluid" style=" justify-content: end;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="prod/..">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost/cadastro-produtos/prod/cadastro">Cadastro de produto</a>
            </li><li class="nav-item">
                <a class="nav-link active" href="http://localhost/cadastro-produtos/prod/controleEstoque">Cadastro de produto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"  href="http://localhost/cadastro-produtos/logout">LogOut</a>
            </li>

        </ul>
    </div>
</nav>