<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #3A4D39;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="http://localhost/cadastro-produtos/prod/" style="font-size: 1.4rem;">Mercado</a>
        </li>
    </ul>
    <div class="container-fluid" style=" justify-content: end; margin-right: 25px;">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" href="http://localhost/cadastro-produtos/prod/cadastro">Cadastro
                de Produtos</a></li>
            <li class="nav-item"><a class="nav-link active" href="http://localhost/cadastro-produtos/pedido">Pedidos</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Registrar Vendas
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://localhost/cadastro-produtos/prod/controleEstoque">Entrada
                        de Produtos</a></li>
                    <li><a class="dropdown-item" href="http://localhost/cadastro-produtos/vendas">Vendas</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost/cadastro-produtos/logout">LogOut</a>
            </li>

        </ul>
    </div>
</nav>